$blue1: #0044C5;
$blue-light: #BAE7FF;
$red: #E53935;
$light-grey: #F5F5F5;
$black: #000;
$white: white;
$white1: #F8F8F8;
$grey: #DADADA;
$green: #08979c;
$grey1: #73757A;
$grey2: #E0E0E0;
$orange: #F59D33;
$orange2: #FCC945;
$black1: #1F1F1F;
$root-font-size: 16px;
$fs: 40;
$line-height: 38;
$fw: 800;
$height: 700;