@import "../abstracts";

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    // overflow: auto;
}